/* src/index.css */
:root {
  /* Variáveis para o nosso tema claro */
  --primary-color: #007bff; /* Esta cor será substituída dinamicamente */
  --background-color: #f0f2f5; /* Fundo cinza-claro, como na sua referência */
  --card-background-color: #ffffff; /* Cards brancos */
  --text-color: #050505; /* Texto principal escuro para legibilidade */
  --text-color-secondary: #65676b; /* Texto secundário um pouco mais claro */
  --border-color: #ced0d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}