/* src/index.css */
:root {
  /* Definimos a variável de cor aqui para que ela seja global */
  --primary-color: #007bff; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f0f2f5; /* Um cinza muito claro para o fundo */
  color: #1c1e21; /* Um preto mais suave */
}